@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The Garage Management System (GMS) is a system designed to attend the basic needs of a small garage and had as base the requirement of Ger's Garage, but can be used for any other small garage.</p>
    <p>Ger is a mechanic who runs a small garage. He carries out maintenance checks for all kinds of small to medium vehicles. He has a small number of staff who work with him.</p>

    <p>This project is open-souce and the code is available on <a href="https://github.com/kennergf/GarageManagementSystem">GitHub</a>.</p>
</div>
